<div class="card-columns">
    <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="https://i.pinimg.com/736x/52/bf/5d/52bf5d93c7a84395e13ba8fd3f368802--book-cover-design-book-covers.jpg" alt="Card image cap">
      <div class="card-block padding-in">
        <div class="card-stuff">
          <h4 class="card-title" id="title">Card title</h4>
          <a href="detail.html" id="likes" class="btn btn-primary btn-sm btn-short"><small><b>+19</b></small></a>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="card-stuff">
          <p class="card-text" id="author"><small class="text-muted">@author | 1h ago</small></p>
          <p class="card-text" id="comments"><small class="text-muted">3 coments</small></p>
        </div>
      </div>
    </div>
</div>
