<!-- <footer class="footer">
  <nav class="fixed-bottom">
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
      <span class="">UP</span>
    </a>
  </nav>
</footer> -->

<footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
          <span class="">UP</span>
        </a>
      </div>
</footer>
