<footer class="footer">
      <div class="container">
        <p class="text-muted">Alphalpha @2017 - Victor Garcia</p>
        <p id="status"></p>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
          <span class="">UP</span>
        </a>
      </div>
</footer>

<!-- algo falla en el footer que estropea la funcionalidad del tooltip desde el commit en el que arreglamos el footer. -->
