<div class="container push-down">
  <form>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputSurname" class="col-sm-2 col-form-label">Surname</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Surame">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Repeat Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>

    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>

  </form>
</div>
